.idea

# Go source files, packages
src/
bin/
pkg/
*.out

# personal variables and writing
.env
todo.md
docs/readme_explanation.md
docs/lectures_startup.md

# all image related data
images/tmp/*
!images/tmp/README.md
images/avatars/s/*
!images/avatars/s/README.md
images/avatars/b/*
!images/avatars/b/README.md
images/purchases/m/*
!images/purchases/m/README.md
images/purchases/b/*
!images/purchases/b/README.md

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
